@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: #FF900E1A;
    padding: 1.875rem 15rem;
}
.nav-title{
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}
.menu{
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color:#424242;;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-left: 3.125rem;
}
.head-content{
    text-align: center;
}
.head-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 6.25rem;
    margin-bottom: 1.875rem;
}
.head-des{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 3.125rem;
}
.btn{
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.25rem 1.563rem;
}
header img{
    margin-top: 3.125rem;
}
.team{
    display: flex;
    gap: 75px;
    padding: 85px 300px 130px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.team-content h3{
    margin-top: 200px;
    margin-bottom: 24px;
}
.quick_list{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.our{
    font-size: 45px;
    font-weight: 700;
}
.fea{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.team-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}
.features{
    padding:0px 240px 130px 240px;
    display: flex;
    gap: 145px;
}
.fratures-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 24px;
    margin-bottom: 24px;
}
.features-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;
}
.team-card{
    background: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06); 
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px 35px 30px 30px;
}
.card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.card-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.features-btn{
    position: relative;
    padding: 40px 35px;
    bottom: 100px;
}
.features-btn h3{
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
.features-btn p{
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
.features img{
    height: 90%;
    margin-left: 60px;
}
.facts{
    padding: 0px 240px 180px 240px;
}
.facts-title, .sponsors-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.facts-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 100px;
    max-width: 542px;
}
.facts-card{
    display: flex;
    justify-content: space-between;
}
.facts-cards-content{
    border-radius: 8px; 
    border: 0.50px solid #FF900E;
    padding: 50px 80px;
    text-align: center;
}
.facts-cards-title{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.facts-cards-des{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
.sponsors{
    padding: 0px 240px 130px 240px;
    text-align: center;
}
.sponsors-img{
    display: flex;
    gap: 155px;
}
.sponsors-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 50px;
}
footer{
    padding: 50px 240px 100px 240px;
}
.footer-des{
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    background: #FFF4E7; 
    border-radius: 8px;
    text-align: center;
    padding: 39px 400px;
}


/* responsive - small devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px 50px;
    }
    nav{
        flex-direction: column;
        gap: 2rem;
    }
    .head-img{
        width: 100%;
    }
    nav ul{
        justify-content: space-between;
    }
    nav ul li{
        margin-left: 0;
    }
    .nav-title{
        text-align: center;
    }
    .team{
        padding:50px;
        flex-direction: column-reverse;
    }
    .team h3{
        margin-top: 5px;
    }
    .team-img{
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: -17.5px;
    }
    .features{
        flex-direction: column;
        padding: 50px;
        
    }
    .features img{
        width: 100%;
        margin: 0;
        margin-top: -100px;
    }
    .features-btn{
        position: static;
        padding: 10px 30px;
        width: 100%;
    }
    .features-btn h3{
        font-size: 2rem;
    }
    .features-btn p{
        font-size: 1rem;
        position: relative;
        bottom: 20px;
    }
    .facts{
        padding: 50px;
    }
    .facts-card{
        flex-direction: column;
        gap: 10px;
    }
    .facts-des{
        margin-bottom: 60px;
    }
    .sponsors{
        padding: 50px;
    }
    .sponsors-img{
        flex-direction: column;
    }
    footer{
        padding:0;
        margin-top: 20px;
    }
    .footer-des{
        padding:50px 10px ;
        border-radius: 0;
    }

}

/* responsive - medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px 100px;
    }
    .nav-title{
        text-align: center;
    }
    nav{
        flex-direction: column;
        gap: 2rem;
    }
    .head-img{
        width: 100%;
    }
    nav ul{
        justify-content: space-between;
    }
    nav ul li{
        margin-left: 0;
    }
    .team{
        padding:100px;
        padding-bottom: 10px;
        flex-direction: column-reverse;
    }
    .team h3{
        margin-top: 5px;
    }
    .team-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .features{
        flex-direction: column;
        padding: 50px;
        
    }
    .features img{
        width: 100%;
        margin: 0;
        margin-top: -100px;
    }
    .features-btn{
        position: static;
        padding: 10px 30px;
        width: 100%;
    }
    .features-btn h3{
        font-size: 2rem;
    }
    .features-btn p{
        font-size: 1rem;
        position: relative;
        bottom: 20px;
    }
    .facts{
        padding: 50px;
    }
    .facts-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .facts-des{
        margin-bottom: 60px;
    }
    .sponsors{
        padding: 50px;
    }
    .one{
        grid-area: one;
    }
    .two{
        grid-area: two;
    }
    .three{
        grid-area: three;
    }
    .four{
        grid-area: four;
    }
    .five{
        grid-area: five;
    }
    .sponsors-img{
        display: grid;
        grid-template-areas: 
        "one one two two three three"
        ". four four five five .";
    }   
    footer{
        padding:0;
        margin-top: 20px;
    }
    .footer-des{
        padding:50px 10px ;
        border-radius: 0;
    }
}